In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn import datasets
import numpy as np

In [0]:
#Import data
data = pd.read_csv('https://raw.githubusercontent.com/XaviJunior/omega/Data/Data/gender-classifier-DFE-791531.csv',encoding="latin-1")
#Clean the data to have only the gender and the number of favourite tweet
FavGender=data[["gender","tweet_count"]]
FavGender = FavGender.dropna()

In [180]:
FavGender = FavGender.replace({'male':0})
FavGender = FavGender.replace({'female':1})
FavGender = FavGender.replace({'brand':2})
FavGender = FavGender.replace({'unknown':3})
FavGender

       gender  tweet_count
0           0       110964
1           0         7471
2           0         5617
3           0         1693
4           1        31462
...       ...          ...
20045       1          783
20046       0        13523
20047       0        26419
20048       1        56073
20049       1         2922

[19953 rows x 2 columns]

In [0]:
X = np.array(FavGender["tweet_count"])
y = np.array(FavGender["gender"])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=72)
X_train = X_train.reshape(-1, 1)
y_train = y_train.reshape(-1, 1)
X_test = X_test.reshape(-1, 1)

In [0]:
LR = LinearRegression()

In [183]:
LR.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [184]:
LR.score(X_train,y_train)

0.005849360625628908

In [185]:
LR.score(X_test, y_test)

0.00601675360584597