In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegressionCV
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn import datasets
import numpy as np

In [0]:
#Import data
data = pd.read_csv('https://raw.githubusercontent.com/XaviJunior/omega/Data/Data/gender-classifier-DFE-791531.csv',encoding="latin-1")
#Clean the data to have only the gender and the number of favourite tweet
FavGender=data[["gender","retweet_count"]]
FavGender = FavGender.dropna()

In [3]:
FavGender = FavGender.replace({'male':0})
FavGender = FavGender.replace({'female':1})
FavGender = FavGender.replace({'brand':2})
FavGender = FavGender.replace({'unknown':3})
FavGender

       gender  retweet_count
0           0              0
1           0              0
2           0              1
3           0              0
4           1              0
...       ...            ...
20045       1              0
20046       0              0
20047       0              0
20048       1              0
20049       1              0

[19953 rows x 2 columns]

In [0]:
X = np.array(FavGender["retweet_count"])
y = np.array(FavGender["gender"])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=72)
X_train = X_train.reshape(-1, 1)
y_train = y_train.reshape(-1, 1)
X_test = X_test.reshape(-1, 1)

In [0]:
LR = LogisticRegressionCV(solver='lbfgs', cv=5, max_iter=1000)

In [12]:
LR.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=1000, multi_class='warn', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [8]:
LR.score(X_train,y_train)

0.3353589775717329

In [9]:
LR.score(X_test, y_test)

0.33775995990979707